.main {
    min-height: 90vh;
    background-color: white;
    position: relative;
}

.container-counter {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    min-height: 50px;
    width: 100%;
    padding: 10px;
    background-color: rgb(61, 3, 103);
    color: white;
    display: grid;  
    grid-template-columns: 90px 1fr 125px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-size: 18px;
    line-height: 1.5;
}

.counter__total {
    font-family: 'Skranji', cursive;
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
}

.counter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}

.counter__ingredient {
    margin: 5px;
}

.btn-checkout {
    padding: 10px 15px;
}

.burger-bilder-none {
    display: none;
}

li {
    text-transform: capitalize;
}